$blue: #1c99f2;
$headerBlue: #bad8e9;
$lblue: #bbd8ea;
$darkerblue: #012841;
$darkblue: #0b3d5c;
$footerblue: #619ec3;

$green: #55bc92;
$darkgreen: #1e6b4c;

$orange: #ff6200;
$yellow: #f8cc6a;
$lyellow: #fafcf4;

$lgrey: #868686;
$imggrey: #f3eff0;
$bordergray: #e6e6e6;
$white: #fff;
$dirtywhite: #fafcf4;

$black: #000000