@font-face {
    font-family: 'Manrope';
    src: url("../assets/fonts/Manrope/Manrope-Bold.ttf") format('truetype');
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Manrope';
    src: url("../assets/fonts/Manrope/Manrope-Regular.ttf") format('truetype');
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url("../assets/fonts/RobotoSlab/RobotoSlab-Bold.ttf") format('truetype');
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url("../assets/fonts/RobotoSlab/RobotoSlab-Regular.ttf") format('truetype');
    font-display: swap;
    font-weight: 400;
}